.btn {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  //margin: 0 4px;
  .iconfont {
    font-size: 24px;
    color: #ffffff;
    &.disabled {
      color: #999999;
    }
  }
  &:hover {
    .iconfont {
      font-size: 24px;
      color: #1677ff;
      &.disabled {
        color: #999999;
      }
    }
  }
}
